/*======================================== the first blog section on the admins page =========================================*/
.main-box-2{
    margin-left: auto;margin-right: auto;  
    justify-content: center;
   margin-left: 25rem;
   margin-top: 5rem;
   margin-bottom: 2rem;
}

.container-2-1{
     display: grid;
     grid-template-columns:  repeat(3, 1fr);
     gap: 1rem;  
    padding-right: 1rem;
}

.wallet-auto{
  display: flex;
  gap: 32px;
  padding: 12px 0px;
  width: 352px;
  height: 80px;
  background: #FFFFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 9px #acadaf, 0px 0px 2px #171a1f;
  margin-bottom: 1rem;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}



.container-2-1 .wallet-auto{
  display: flex;
  gap: 32px;
  align-items: center;
  padding: 12px 0px;
  width: 360px;
  height: 105px;
  background: #FFFFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 9px #acadaf, 0px 0px 2px #787b82;
  margin-bottom: 3rem;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.wallet-auto .wallet-icon {
  width: 48px;
  height: 105px;
  padding: 12px 10px;
  left: -5rem;
  background: #ff5900;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  font-size: 2rem;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
.wallet-auto .wallet-icon i {
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.wallet-auto .wallet-icon-2 {
  width: 48px;
  height: 105px;
  padding: 12px 10px;
  left: -5rem;
  background: #0000ffff;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  font-size: 2rem;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
.wallet-auto .wallet-icon-2 i {
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
}
.wallet-auto .wallet-icon-3 {
  width: 48px;
  height: 105px;
  padding: 12px 10px;
  left: -5rem;
  background: #00f5d4;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  font-size: 2rem;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -ms-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
}
.wallet-auto .wallet-icon-3 i {
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
}
.wallet-auto .wallet-icon-4 {
  width: 48px;
  height: 105px;
  padding: 12px 10px;
  left: -5rem;
  background: #d90429;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  font-size: 2rem;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -ms-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
}
.wallet-auto .wallet-icon-4 i {
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.wallet-auto .wallet-icon-5 {
  width: 48px;
  height: 105px;
  padding: 12px 10px;
  left: -5rem;
  background: #ffc300;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  font-size: 2rem;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -ms-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
}
.wallet-auto .wallet-icon-5 i {
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.wallet-auto .wallet-icon-6 {
  width: 48px;
  height: 105px;
  padding: 12px 10px;
  left: -5rem;
  background: #fb6f92;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  font-size: 2rem;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -ms-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
}
.wallet-auto .wallet-icon-6 i {
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
}

/*======================================== vendors =========================================*/
.container-2{
    display: inline-block;
     backdrop-filter: blur(2px);
     border:  1px solid #EAECEE;
     box-shadow: 0px 4px 9px #515355, 0px 0px 2px #77787a;
     padding: 1rem 7rem ;
     width: 80%;
     border-radius:20px ;
     -webkit-border-radius:20px ;
     -moz-border-radius:20px ;
     -ms-border-radius:20px ;
     -o-border-radius:20px ;
}

.container-2 h2{
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0d3b66;
    margin-bottom: 2rem;
}

.container-2-2{
     display: grid;
     grid-template-columns:  repeat(3, 1fr);
     gap: 1rem;    
}


.container-2-2 .wallet-auto-2{
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 12px 0px;
  width: 360px;
  height: 105px;
  background: #FFFFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 9px #acadaf, 0px 0px 2px #787b82;
  margin-bottom: 3rem;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.wallet-auto-2 .wallet-icon img {
    margin-right: 0.5rem;
    margin-left: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.wallet-auto-2 .wallet-details h4{
    color: #0d3b66;
    padding-bottom: 10px;
    font-size:  20px;
    text-align: center;
}

.wallet-auto-2 .wallet-details p a{
    color: #6c757d;
    padding-bottom: 10px;
    font-size:  18px;
    text-align: center;
}


/*================================================= verious task ===============================================*/

.task{
     margin-left: auto;margin-right: auto;
    top: 30rem;
    justify-content: center;
   margin-left: 18rem;margin-top: 5rem;
   margin-right: auto;
   display: flex;
   gap: 2rem;
   justify-content: center;
   align-items: center;
}

.task .daily-task{
    background-color: #003554;
     border:  1px solid #EAECEE;
     box-shadow: 0px 4px 9px #515355, 0px 0px 2px #77787a;
     padding: 1rem 1rem ;
     width: 25%;
     margin-bottom: 5rem;
    
}

.task .sponsored-post{
    background-color: #003554;
     border:  1px solid #EAECEE;
     box-shadow: 0px 4px 9px #515355, 0px 0px 2px #77787a;
     padding: 1rem 1rem ;
     width: 25%;
     margin-bottom: 5rem;
}

.task .adverts{
    background-color: #003554;
     border:  1px solid #EAECEE;
     box-shadow: 0px 4px 9px #515355, 0px 0px 2px #77787a;
     padding: 1rem 1rem ;
     width: 25%;
    margin-bottom: 5rem;
}


.main-container{
    border: 2px solid #ff5900;
    padding: 1rem ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.task-container h3{
    margin-bottom: 1rem;
    font-size:  1.5rem;
    color:  white;
    text-align: center;
    text-transform: capitalize;
}
.daily-activity img{
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    margin-bottom: 1rem;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.details p {
    text-align: center;
    color:  #fff;
    font-size: 18px;
    margin-bottom: 2rem;
}

.details .btn-daily{
     padding: 0.7rem 1.5rem;
     color: white !important;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     outline: none;
     border: none;
     background-color: #000fff;
     margin-left:2rem ;margin-right: auto;
     width: 80%;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}

.details .post-btn {
    display: flex;
    gap: 1rem;
     justify-content: center;
     align-items: center;
}
.details .post-btn .btn-daily-1{
    padding: 0.7rem 1.7rem;
     color: white !important;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     outline: none;
     border: none;
     background-color: #000fff;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px; 
}

.details .post-btn .btn-daily-2{
    padding: 0.7rem 1.5rem;
     color: white !important;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     outline: none;
     border: none;
     background-color: #ff5900;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px; 
}


.task .sponsored-post{
    background-color: #003554;
    border:  1px solid #EAECEE;
     box-shadow: 0px 4px 9px #515355, 0px 0px 2px #77787a;
     padding: 1rem 1rem;
     width: 25%;
    
}

.task .adverts{
    background-color: #003554;
    border:  1px solid #EAECEE;
     box-shadow: 0px 4px 9px #515355, 0px 0px 2px #77787a;
     padding: 1rem 1rem;
     width: 25%;
}

