@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

:root{
  --nav-color:#ffd6e0;
  --white:#FFFFFFFF;
  --blue-black:#0d3b66;
  --grey: #ddd;
  --main:#000fff;
  --second-main:#ff5900;
  --back-ground:#13293d;
}

.Navigation{
    position:fixed;
  display: flex;
  top: 0px;
  right: 0px;
  left: 0px;
  width: auto;
  height: 56px;
  background: var(--white);
  background: var(--back-ground);
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1.5rem;
z-index:  3;
}
.Navigation.dark-mood  {
  background-color: var(--back-ground);
}

.logo{
  padding-top: 2rem;
  padding-left: 5rem;
}
.profile{
    display: flex;
}
.home-btn .home i{
    font-size: 2rem;
    display: none;
    color: var(--blue-black);
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    margin-top: 6px;
    padding: 10px 14px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.home-btn .home i:hover{
    color: var(--white);
    background-color:var(--main) ;
}


.referred{
    display: flex;
    margin-right: 2rem;
    gap:1rem;
    margin-bottom: 2rem;
    padding: 12px 20px;
    border:  2px solid var(--second-main);
    background-color:  var(--second-main);
    justify-content: center;
    pointer-events: none;
    align-items: center;
    transition:  all .3s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition:  all .3s ease-in-out;
    -moz-transition:  all .3s ease-in-out;
    -ms-transition:  all .3s ease-in-out;
    -o-transition:  all .3s ease-in-out;
}

.referred i{
    font-size: 24px;
   color: var(--white);
}

.referred .referrals{
    display: flex;
    gap: 10px;
}
.referred .referrals h5{
    font-size: 20px;
    color: var(--white);
}
.referred .referrals span{
   font-size: 20px;
    color: var(--white); 
}

.county{
    margin-right: 2.5rem;
    padding: 12px 20px;
    border:  2px solid var(--main);
    background-color: var(--main);
    justify-content: center;
    align-items: center;
    transition:  all .3s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition:  all .3s ease-in-out;
    -moz-transition:  all .3s ease-in-out;
    -ms-transition:  all .3s ease-in-out;
    -o-transition:  all .3s ease-in-out;
}

.country a:hover{
     transform: translateY(-2px);
     background-color: var(--main);
     border-color: var(--main);
     color: var(--main);
     -webkit-transform: translateY(-2px);
     -moz-transform: translateY(-2px);
     -ms-transform: translateY(-2px);
     -o-transform: translateY(-2px);
}

.county a{
    color:  var(--white);
    font-size: 20px;
    font-weight: 400px;
}

.home-notification{
  margin-left: 20px;margin-right: 40px;
  padding-top: 1rem;
}

.home-notification i{
  font-size: 2rem;
  position: relative;
  color:  var(--grey) !important;
  padding-right:  20px;
}

.home-notification p{
  position:absolute;
  top: 11px;
  color:  var(--white);
  margin-left: 1rem;
  background-color: red;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.home-dark-mood{
  margin-left: 15px;margin-right: 15px;
  padding-top: 1rem;
}

.home-dark-mood i{
  font-size: 2rem;
  position: relative;
  color:  var(--grey) !important;
  padding-right:  15px;
}

.profile img{
    margin-right: 2rem;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: auto;
    width: 55px;
    border-radius: 45%;
    -webkit-border-radius: 45%;
    -moz-border-radius: 45%;
    -ms-border-radius: 45%;
    -o-border-radius: 45%;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: var(--grey);
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   top: 95%;
   right: 3%;
   padding: 12px 20px;
   transition: 600ms;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   z-index: 1;
   -webkit-transition: 600ms;
   -moz-transition: 600ms;
   -ms-transition: 600ms;
   -o-transition: 600ms;
}

.dropdown-content.active{
    display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: var(--blue-black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 18px;
 
}

.dropdown-content a i{
    margin-right: 0.5rem;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--grey);
  color: var(--second-main);
  
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.show {display:block;}

/*------------------ side bar --------------------------- */
/* Container 30 */

.side-bar{
height: 100%;
 width: 310px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding-top: 3.5rem;
  padding-left: 1rem;
  background: var(--back-ground);
  overflow-x: hidden;
  padding-top: 20px;
  transition:1s ;
  -webkit-transition:1s ;
  -moz-transition:1s ;
  -ms-transition:1s ;
  -o-transition:1s ;
}
.side-bar::-webkit-scrollbar{
 display: none;
}

.side-bar-1{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.side-bar-1 .sidebar-menu-item{
    width: 170px;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    padding-top: 5rem;
    
}


.side-bar-1 .sidebar-menu-item li{
    margin-bottom: 1rem; margin-top: 1rem;
    align-items: center; 
    justify-content: left;
   padding: 0.5rem 5px;
   border: 1px solid none;
}

.side-bar-1 .sidebar-menu-item li a{
    color: #565D6DFF;
    font-size: 18px; 
  line-height: 20px; 
  font-weight: 400; 
  opacity: 2; 
  gap: 17px;

}
.side-bar-1 .sidebar-menu-item li a i{
    margin-right: 1rem;
}


.side-bar-1 .line {
  position: absolute;
  left: 24px;
  width: 190px;
  height: 0px;
  border-width: 1px;
  border-color: #F3F4F6FF;
  /*neutral-200*/border-style: solid;
  transform: rotate(0deg);
  margin-bottom: 3rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.side-bar-2 .personal{
    color: #565D6DFF;
    font-size: 1.5rem;
    padding: 0.7rem 1.2rem;
    width: 170px;
    justify-content: center;
    margin-left: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    
}

.side-bar-2 .sidebar-menu-item{
    width: 170px;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    
}


.side-bar-2 .sidebar-menu-item li{
    margin-bottom: 1rem;
    align-items: center; 
    justify-content: left;
   padding: 0.5rem 1rem;
   border: 1px solid none;
}

.side-bar-3{
    display: flex;
    margin-top: 5rem;
    gap: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}


.side-bar-3 .user-name h2{
    font-size: 1.3rem;
    color:  #ffffff;
    margin-left: 0.4rem;
    padding-top: 10px;
     position: absolute; 
     align-items: center;
}
.side-bar-3 .profile-side img{
    border-radius: 45%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.side-bar-2 .sidebar-menu-item li a{
    color: #565D6DFF;
    font-size: 18px; 
  line-height: 22px; 
  font-weight: 400; 
  opacity: 2; 
  gap: 17px;

}
.side-bar-2 .sidebar-menu-item li a i{
    margin-right: 1rem;
}


.side-bar-2 .line {
  position: absolute;
  left: 24px;
  width: 190px;
  height: 0px;
  border-width: 1px;
  border-color: #F3F4F6FF;
  /*neutral-200*/border-style: solid;
  transform: rotate(0deg);
  margin-bottom: 3rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

/*-------------------- end of side bar -----------------------*/
/*-------------------- start of main body -----------------------*/
.main-box-1{
    margin-left: auto;margin-right: auto;
    top: 0;
    justify-content: center;
   margin-left: 25rem;margin-top:  10rem;  
}

.main-box-auto{
    margin-left: auto;margin-right: auto;
    top: 0;
    justify-content: center;
   margin-left: 25rem;margin-top:  10rem;  
}

.container{
     backdrop-filter: blur(2px);
     border:  1px solid #EAECEE;
     box-shadow: 0px 4px 9px #515355, 0px 0px 2px #77787a;
     padding: 2rem 7rem ;
     width: 80%;
     border-radius:20px ;
     -webkit-border-radius:20px ;
     -moz-border-radius:20px ;
     -ms-border-radius:20px ;
     -o-border-radius:20px ;
}

.container h2{
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0d3b66;
    margin-bottom: 0.5rem;
}

.container p{
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0d3b66;
    margin-bottom: 1.5rem;
}

.container-2{
     display: flex;
     gap: 2rem;    
}

.wallet{
  display: flex;
  gap: 32px;
  padding: 12px 0px;
  width: 352px;
  height: 80px;
  background: #FFFFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 9px #acadaf, 0px 0px 2px #171a1f;
  margin-bottom: 2.5rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}



.container-2 .wallet{
  display: flex;
  gap: 32px;
  align-items: center;
  padding: 12px 0px;
  width: 360px;
  height: 105px;
  background: #FFFFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 9px #acadaf, 0px 0px 2px #787b82;
  margin-bottom: 3rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.wallet .wallet-icon {
  width: 48px;
  height: 105px;
  padding: 12px 10px;
  left: -5rem;
  background: #ff5900;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  font-size: 2rem;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -ms-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
}
.wallet .wallet-icon i {
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
}



.wallet .wallet-details h4{
   text-align: center;
    font-size: 25px;  
  font-weight: 700; 
  color: #171A1FFF;
 margin-top: 1rem;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.container-2 .wallet .wallet-details p{
     font-size: 20px; 
  font-weight: 400; 
  color: #9095A1FF;
}

.container-2 .wallet .wallet-details .percentage-1{
    top: -2;
}
.container-2 .wallet .wallet-details .percentage-1 span{
    font-size: 18px;
    color: rgb(10, 170, 10);
   
}

.container-2 .wallet .wallet-details .percentage-2{
    margin-bottom:  1rem;
}
.container-2 .wallet .wallet-details .percentage-2 span{
    font-size: 18px;
    color: rgb(249, 34, 34) 
}


.wallet .wallet-icon-2 {
  width: 48px;
  height: 105px;
  padding: 12px 10px;
  left: -5rem;
  background: #000fff;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  font-size: 2rem;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -ms-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
}
.wallet .wallet-icon-2 i {
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.wallet .wallet-icon-3 {
  width: 48px;
  height: 105px;
  padding: 12px 10px;
  left: -5rem;
  background: #00c49a;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  font-size: 2rem;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -ms-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
}
.wallet .wallet-icon-3 i {
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;

}

/*===================================== daily task and sponsored posts ===============================*/

/*=================================== Pop Ups ==============================*/
.form-container{
    top: 35%;
    margin-left: 40rem;
    z-index: 200;
    width: 350px;
    justify-content: center;
    align-items: center;
    height: 410px;
    border: 2px solid #8d99ae;
    background-color: #003554;
   
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, .9);
  padding-top: 50px;
}

.sub-log-form{
     margin: 10px;
     border: 2px solid #ff5900;
     padding: 1rem ;
     border-radius:10px ;
     -webkit-border-radius:10px ;
     -moz-border-radius:10px ;
     -ms-border-radius:10px ;
     -o-border-radius:10px ;
}
.form-title{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 12px;
}
.form-title span{
    color: #ffffff;
    padding-top: 10px;
   text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.line-1{
    color: #ffffff;
    margin-bottom: 2rem;
}

 .wallets{
   margin-left: 3rem;
   gap: 3rem;
   
}
.wallet .wallet-1 button{
     padding: 0.7rem 1.7rem;
     display: inline-block;
     background-color: #003554;
}

.form-input{
    margin-top: 3rem;
    margin-right: 10px;
}
.input-field{
    position: relative;
    width:  270px;
    height: 55px;
    padding: 0 15px;
    margin-bottom: 1.2rem;
    border: 1px solid #ccc;
    outline: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    color: #ffffff;
    caret-color: #ff5900;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.3);
    backdrop-filter: blur(20px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
::placeholder{
    color: #ffffff;
    margin-left: 5px;
}

.input-box {
    display: flex;
    gap: 1rem;
     justify-content: center;
     align-items: center;
}
.input-box .input-submit-1{
    padding: 0.7rem 1.7rem;
     color: white !important;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     outline: none;
     border: none;
     background-color: #000fff;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px; 
}

.input-box .input-submit-2{
    padding: 0.7rem 1.7rem;
     color: white !important;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     outline: none;
     border: none;
     background-color: #ff5900;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px; 
}

/* ============================================================= calender =================================*/

.mobile-screens{
  display: none;
}