@media (max-width: 950px){
    .larger-device{
        display: none;
    }
    .mobile-screens{
        display:  block !important;
    }
}

@media(max-width: 1700px){
    .side-bar{
        width: 300px;
    }
   .container-2-1{
     display: grid;
     grid-template-columns:  repeat(2, 1fr);
     gap: 1rem;  
     margin-left: -3.4rem;
   }
.container-2-2{
     display: grid;
     grid-template-columns:  repeat(2, 1fr);
     gap: 1rem;
    margin-left: -5rem;
    
}
.main-box-1{
    margin-right: 3rem;
    width: 60%;
}
.main-box-2{
    margin-right: 3rem;
    width: 60rem;
    margin-bottom: 3rem;
    
}

.container{
    padding:  1rem 6rem ;
    margin-left: 6rem;
    margin-right: -3rem;
}


.main-box-auto{
    margin-right: 3rem;
    width: 40rem;
     margin-left: 3rem;
}

.wallet{
     width: 500px;
  height: 120px;
}
.wallet .wallet-details h4{
    font-size: 18px;
    padding-top:  18px;
}
.container-2 .wallet .wallet-details .percentage-1 p,.container-2 .wallet .wallet-details .percentage-2 p{
margin-top: -2rem;
}
.container-2{
    
     width: 40rem;
    padding:  1rem 6rem ;
    margin-left: 4.5rem;
    margin-right: -4rem; 
    overflow-x: hidden;
}

}
